@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Virtual Wardrobe</h1>
    <p class="lead">Picking the right outfit it hard! Not with My Virtual Wardrobe. Catalog each item and build outfits easily!</p>
</div>

<div class="row" divvy>
    <div class="col-md-12">
        <h2>@Html.ActionLink("Create", "Index", "Create")</h2>
        <p>
            Name your clothing item. Add a photo. Define the Color, Occasion, Season, and Clothing Type. All in one easy app.
        </p>
    </div>
    
</div>